body {
    margin: 0;
}

.header {
    text-align: center;
    padding: 15px 0 15px 0;
    background: green;
}

.main {
    padding: 20px 0 20px 0;
    background: white;
}

.text-center {
    text-align: center;
}



.wrapper {
    width: 600px;
    margin: 0 auto;
}

 .leftimg {
  float:left; /* Выравнивание по левому краю */
  margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
 }

 .rightimg  {
  float: right; /* Выравнивание по правому краю  */
  margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
 }

.footer {
    text-align: center;
    padding: 15px 0 15px 0;
    background: yellow;
    width: 100%;
}

 .img  {
border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
padding: 15px; /* Расстояние от картинки до рамки */
background: #666; /* Цвет фона */
margin-right: 10px; /* Отступ справа */
margin-bottom: 10px; /* Отступ снизу */
}
.sign {
   float: left;; /* Выравнивание по правому краю */
   padding: 7px; /* Поля внутри блока */
   margin: 10px 0 5px 5px; /* Отступы вокруг */
   background: #f0f0f0; /* Цвет фона */
  }
